<div class="admin-dashboard">
  <button class="logout-button" (click)="logout()">Logout</button>
  <div class="search-section">
    <h2>Search Movies</h2>
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search for movies...">
      <button (click)="searchMovies()">Search</button>
    </div>

    <ul class="movie-list">
      <li *ngFor="let movie of movies">
        <strong>{{ movie.Title }} ({{ movie.Year }})</strong>
        <button (click)="addMovie(movie)">Add</button>
      </li>
    </ul>
  </div>
  <div class="saved-movies-section">
    <h2>Saved Movies</h2>
    <ul class="movie-list">
      <li *ngFor="let movie of savedMovies">
        <strong>{{ movie.Title }} ({{ movie.Year }})</strong>
        <button (click)="deleteMovie(movie.Title)">Delete</button>
      </li>
    </ul>
  </div>
</div>
